body{
    margin: 0;
    text-align: center;
    font-family: Raleway, sans-serif;
    color: #f1f1f1;
}
header{
    background-image: url(../images/bg.jpg);
    background-size:cover;
    background-position: center center;
    height: 80%;
}
h1{
    font-size: 4rem;
    line-height: 4.2rem;
    font-family: Cormorant, serif;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 3px solid #f1f1f1;
    max-width: 50%;
    margin: 0px auto 10px;
    padding-bottom: 10px;
    letter-spacing: -2px;
    padding-top: 100px;
}
#location{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
}
#social{
    margin-top: 20px;
    font-size: 1.6rem;
}
#social .fa-facebook{
    color: #DFE3EE;
}
#social .fa-facebook:hover{
    color: #8b9DC3;
}