@import url('https://fonts.googleapis.com/css?family=Cormorant:700');
@import url('https://fonts.googleapis.com/css?family=Mukta:300,400,500');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

$primary : #2a4c16;
$primary-light: lighten($primary, 80%);

body{
    margin: 0;
    font-family: Mukta, sans-serif;
    font-weight: 300;
    background-color: $primary-light;
}

#home{
    header{
        background-image: url(../images/homepage-bg.jpg);
        background-size:cover;
        background-position: center center;
        height: 80%;
        color: $primary-light;
        text-align: center;

        h1{
            font-size: 5rem;
            line-height: 4rem;
            font-family: Cormorant, serif;
            font-weight: 700;
            text-transform: uppercase;
            border-bottom: 3px solid $primary-light;
            max-width: 70%;
            margin: 0px auto 10px;
            padding-bottom: 16px;
            letter-spacing: -2px;
            padding-top: 100px;
        }
        .subhead{
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 2px;
        }

    }
    main{
        display: grid;
        grid-template-columns: auto 260px;
        grid-column-gap: 40px;
        max-width: 980px;
        padding: 20px;
        margin: 40px auto;
        @media (max-width: 800px) {
            grid-template-columns: none;
        }
        .content{
            h1, h2, h3, h4, h5, h6{
                text-transform: uppercase;
                font-weight: 500;
                letter-spacing: 2px;
            }
            p{
                font-size: 1.2rem;
                line-height: 1.6rem;
            }
        }
        aside{
            .social{
                font-size: 1.4rem;
                a{
                    color: $primary;
                    text-decoration: none;
                    &:hover{
                        color: #8b9DC3;
                    }
                }
            }
        }
    }
}